<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Place remember{% endblock head_title %}</title>
    {% block head_extra %}
    {% endblock head_extra %}
</head>
<body>
<header>
{% block header %}
    <h1><a href="{% url 'places_remember:index' %}">Place remember</a></h1>
    {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
    {% endif %}
{% endblock header %}
</header>
<main>
{% block content %}
{% endblock content %}
</main>
<footer>
{% block footer %}
    <address>
        Developed by Dmitry Smirnov <a href="mailto:sda97g@gmail.com">sda97g@gmail.com</a>
    </address>
{% endblock footer %}
</footer>
{% block scripts %}
{% endblock scripts %}
</body>
</html>