{% extends 'places_remember/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<section>
    <div>
        {% get_social_accounts user as accounts %}
        <img src="{{ accounts.facebook.0.get_avatar_url }}" alt="User's photo"/>
    </div>
    <div>
        {{ user.first_name }} {{ user.last_name }}
    </div>
</section>
<div>
    <a href="{% url 'places_remember:create_memory' %}">Add memory</a>
</div>
<section>
    {% if memory_list %}
    <ul>
        {% for memory in memory_list %}
        <li>
            <img src="{% static 'places_remember/img/map_stub.png' %}">
            {{ memory.place.name|default:"Unknown place" }}
            {{ memory.place.latitude }}, {{ memory.place.longitude }}
            {{ memory.title }}
            {{ memory.text|truncatechars:200 }}
            <a href="{% url 'places_remember:update_memory' pk=1 %}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    There are no memories yet. Let's <a href="{% url 'places_remember:create_memory' %}">add one</a>!
    {% endif %}
</section>
{% endblock content%}