{% extends 'places_remember/base.html' %}
{% load static %}

{% block content %}
<div id="map" style="width: 600px; height: 400px">
    <div style="position: relative; left: 297px; top: 197px; border: 2px solid red; background-color: white; width: 6px; height: 6px; border-radius: 6px; z-index: 100;"></div>
</div>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save">
</form>
{% endblock content%}
{% block scripts %}
{% autoescape off %}
{{ yandex_maps.api_script }}
{% endautoescape %}
<script src="{% static 'places_remember/js/memory_form.js' %}" type="text/javascript"></script>
{% endblock scripts %}